In [28]:
import pandas as pd
import numpy as np

In [14]:
data = pd.read_csv("../dataset/AND_dataset/AND_dataset/AND_features.csv")
data = data.iloc[:,1:]
data

     ImageId  f1  f2  f3  f4  f5  f6  f7  f8  f9
0      0359a   2   1   1   0   2   2   0   2   2
1      0577a   2   1   1   0   2   2   0   1   2
2      1120a   2   1   1   3   2   2   0   2   2
3      1120b   1   1   1   0   2   2   0   2   2
4      1120c   2   1   1   0   2   2   0   0   2
5      1121a   2   1   1   3   2   2   0   1   2
6      1121b   2   1   1   0   2   2   0   3   2
7      1121c   1   1   1   0   2   2   0   1   2
8      1229b   1   1   1   3   2   2   0   2   2
9      1302a   2   1   1   3   2   2   0   0   2
10     1302b   3   1   1   0   2   2   0   2   2
11     1302c   2   1   1   3   2   2   0   3   2
12     1305a   1   1   1   0   2   2   0   0   2
13     1305b   2   1   1   0   2   2   1   2   2
14     1305c   1   1   1   3   2   2   0   1   2
15     1386a   1   1   1   0   2   2   0   3   2
16     1386b   3   1   1   0   2   2   0   1   2
17     1386c   3   1   1   3   2   2   0   2   2
18     1391c   2   1   1   0   2   2   1   1   2
19     1489a   1   1   1   3   2   2   0   0   2
20     1489b   2   1   1   3   2   2   1   2   2
21     1517a   2   1   1   1   2   2   0   2   2
22     1517b   1   1   1   3   2   2   0   3   2
23     0331b   3   1   1   0   2   2   0   0   2
24     0367a   2   1   1   0   2   2   0   4   2
25     0367b   1   1   1   0   2   2   1   2   2
26     0367c   3   1   1   3   2   2   0   1   2
27     0379b   3   1   1   0   2   2   0   3   2
28     0458a   2   1   1   0   2   2   1   0   2
29     0565a   2   1   1   3   2   2   1   1   2
...      ...  ..  ..  ..  ..  ..  ..  ..  ..  ..
996    0594b   0   0   0   3   2   0   0   3   2
997    0594c   0   4   2   4   2   2   0   3   2
998    1271b   3   4   2   2   0   2   1   3   2
999    1271c   0   1   2   4   2   2   2   2   2
1000   0354c   1   0   0   1   0   1   3   2   2
1001   1091a   3   1   2   4   2   2   3   4   2
1002   0556b   0   2   0   1   0   2   1   1   1
1003   0556c   0   1   0   1   0   3   1   0   1
1004   0387a   0   1   0   2   0   1   2   2   2
1005   1414b   0   4   0   0   0   1   1   1   1
1006   1414c   1   0   1   1   3   1   1   2   1
1007   0365c   0   4   0   3   0   1   1   2   1
1008   0403a   2   0   2   1   0   1   0   1   1
1009   1103a   3   2   0   1   0   1   1   2   1
1010   0375b   1   3   0   1   0   2   0   2   1
1011   0323a   3   4   2   4   2   2   3   2   2
1012   0323b   3   0   0   1   0   3   1   1   1
1013   0597a   3   4   2   0   2   3   3   1   1
1014   1440b   0   4   0   2   0   2   0   4   1
1015   0376b   1   2   0   2   0   1   1   1   1
1016   0366b   3   1   2   4   3   2   0   2   2
1017   0434a   3   0   0   2   0   3   3   0   2
1018   0555a   1   4   0   2   0   2   3   4   1
1019   1165c   3   0   2   4   0   2   3   2   2
1020   0380b   1   3   2   3   3   2   0   2   2
1021   1083a   0   4   2   4   2   3   1   1   1
1022   1125b   1   1   2   4   3   2   1   2   1
1023   0416a   1   1   2   4   3   2   1   1   1
1024   1224b   2   4   2   4   3   3   3   4   2
1025   0302b   2   2   2   4   3   3   3   4   2

[1026 rows x 10 columns]

In [25]:
data["ImageId"] = data.ImageId.str.split("[a-z]",expand=True)
data

     ImageId  f1  f2  f3  f4  f5  f6  f7  f8  f9
0       0359   2   1   1   0   2   2   0   2   2
1       0577   2   1   1   0   2   2   0   1   2
2       1120   2   1   1   3   2   2   0   2   2
3       1120   1   1   1   0   2   2   0   2   2
4       1120   2   1   1   0   2   2   0   0   2
5       1121   2   1   1   3   2   2   0   1   2
6       1121   2   1   1   0   2   2   0   3   2
7       1121   1   1   1   0   2   2   0   1   2
8       1229   1   1   1   3   2   2   0   2   2
9       1302   2   1   1   3   2   2   0   0   2
10      1302   3   1   1   0   2   2   0   2   2
11      1302   2   1   1   3   2   2   0   3   2
12      1305   1   1   1   0   2   2   0   0   2
13      1305   2   1   1   0   2   2   1   2   2
14      1305   1   1   1   3   2   2   0   1   2
15      1386   1   1   1   0   2   2   0   3   2
16      1386   3   1   1   0   2   2   0   1   2
17      1386   3   1   1   3   2   2   0   2   2
18      1391   2   1   1   0   2   2   1   1   2
19      1489   1   1   1   3   2   2   0   0   2
20      1489   2   1   1   3   2   2   1   2   2
21      1517   2   1   1   1   2   2   0   2   2
22      1517   1   1   1   3   2   2   0   3   2
23      0331   3   1   1   0   2   2   0   0   2
24      0367   2   1   1   0   2   2   0   4   2
25      0367   1   1   1   0   2   2   1   2   2
26      0367   3   1   1   3   2   2   0   1   2
27      0379   3   1   1   0   2   2   0   3   2
28      0458   2   1   1   0   2   2   1   0   2
29      0565   2   1   1   3   2   2   1   1   2
...      ...  ..  ..  ..  ..  ..  ..  ..  ..  ..
996     0594   0   0   0   3   2   0   0   3   2
997     0594   0   4   2   4   2   2   0   3   2
998     1271   3   4   2   2   0   2   1   3   2
999     1271   0   1   2   4   2   2   2   2   2
1000    0354   1   0   0   1   0   1   3   2   2
1001    1091   3   1   2   4   2   2   3   4   2
1002    0556   0   2   0   1   0   2   1   1   1
1003    0556   0   1   0   1   0   3   1   0   1
1004    0387   0   1   0   2   0   1   2   2   2
1005    1414   0   4   0   0   0   1   1   1   1
1006    1414   1   0   1   1   3   1   1   2   1
1007    0365   0   4   0   3   0   1   1   2   1
1008    0403   2   0   2   1   0   1   0   1   1
1009    1103   3   2   0   1   0   1   1   2   1
1010    0375   1   3   0   1   0   2   0   2   1
1011    0323   3   4   2   4   2   2   3   2   2
1012    0323   3   0   0   1   0   3   1   1   1
1013    0597   3   4   2   0   2   3   3   1   1
1014    1440   0   4   0   2   0   2   0   4   1
1015    0376   1   2   0   2   0   1   1   1   1
1016    0366   3   1   2   4   3   2   0   2   2
1017    0434   3   0   0   2   0   3   3   0   2
1018    0555   1   4   0   2   0   2   3   4   1
1019    1165   3   0   2   4   0   2   3   2   2
1020    0380   1   3   2   3   3   2   0   2   2
1021    1083   0   4   2   4   2   3   1   1   1
1022    1125   1   1   2   4   3   2   1   2   1
1023    0416   1   1   2   4   3   2   1   1   1
1024    1224   2   4   2   4   3   3   3   4   2
1025    0302   2   2   2   4   3   3   3   4   2

[1026 rows x 10 columns]

462